<%= render 'search_form' %>


<div class="container">
  <div class="row">
    <div class="col-md-8">
      <% @workouts.each do |workout| %>
      <p><%= workout.id %> | <%= workout.title %> | <%= workout.category.name %> | <%= workout.level.name %> | <%= workout.location.name %></p>
      <% end %>
    </div>
    <div class="col-md-4 border">
    map goes here
    </div>
  </div>
</div>
