<body class="my-background">
<!--HERO SECTION-->
<div class="hero">
  <a href="/" class="back-button">
    <i class="fas fa-arrow-left"></i>
  </a>
  <div class="title">
    <h1 class="hero-title"><%= @workout.title %></h1>
  </div>
  <div class="buttons">
    <button class="btn btn-primary chat-button">Ask organizer</button>
    <button class="btn btn-primary join-button">Join Event</button>
  </div>
</div>

<!--EVENT DETAILS SECTION -->
<div class="event-details-container container mt-5">
  <div class="event-details">
    <div class="title-like-container">
      <h2 class="event-title">About the Event</h2>
        <a href="#" class="like-button">
          <%= image_tag "icons/heart-regular.svg"%>
        </a>
      </div>
      <a href="#" class="event-address" style="color: #4287F5"> <%= image_tag 'icons/location-dot-solid.svg', class: 'pin-icon' %><%= @workout.address %></a>
      <p class="event-date opacity-75 mt-4"> <%= image_tag 'icons/calendar.svg'%> <%= @workout.start_date %>--<%= @workout.start_time.hour%>:<%= @workout.start_time.min%></p>
      <p class="event-description opacity-75"><%= @workout.description %></p>
    <div class="cards-container-showpage">
      <div class="card-showpage">
        <p class="card-number">1</p>
        <small>Buddies Confirmed</small>
      </div>
      <div class="card-showpage">
        <p class="card-number">2</p>
        <small>Buddies visited this event</small>
      </div>
    </div>
  </div>
  <div class="event-map">
    <%= image_tag "map.png"%>
  </div>
</div>

<!--BUDDIES EVENT SECTION-->
<div class="container" style="margin-top: 50px">
  <h2 class="section-title">Buddies</h2>
    <div class="buddies-section mt-3">
      <% 6.times do %>
        <%= render "shared/card_buddies" %>
      <% end %>
    </div>
</div>
</body>
