<div class="container my-5">

  <div class="row gx-5">
    <div class="col-md-4 chat-sidebar">
      <h3>Your chats</h3>

        <div class="mb-3">
          <% if current_user.all_workouts.any? %>
            <div class="list-group">
              <% current_user.all_workouts.each do |workout| %>
                <% chatroom = workout.chatroom %>
                <%= link_to chatroom_path(chatroom), class:"list-group-item list-group-item-action #{'active' if current_page?(chatroom_path(chatroom))}" do %>
                  <h6><%= workout.title %></h6>
                  <% if chatroom.messages.any? %>
                    <span class="small">Last message sent <%= time_ago_in_words(chatroom.messages.last.created_at) %> ago</span>
                  <% else %>
                    <span class="small">No messages, yet</span>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <p>You're not signed up to any workouts.</p>
          <% end %>
        </div>
    </div>

    <div class="col-md-8 chatroom d-flex flex-column chatroom-container pb-5"
      data-controller="chatroom-subscription"
      data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
      data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
      <h1 class="centered-title mt-3"><%= link_to @chatroom.workout.title, workout_path(@chatroom.workout) %></h1>
      <hr>
      <div class="messages flex-grow-1 mt-2" data-chatroom-subscription-target="messages">
        <% @chatroom.messages.each do |message| %>
          <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content sender-row' : 'justify-content-start receiver-row' %>">
            <%= image_tag message.user.photo, width:150, height:150, class: 'user-avatar' if message.user.photo.present? %>
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
          </div>
        <% end %>
      </div>

      <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
      %>

      <div class="input-group input-group-lg">
      <%= f.input_field :content,
        class:"form-control",
        placeholder: "Type your message here..."
      %>
      <%= button_tag type: 'submit', class: "btn btn-primary text-white" do %>
        Send <i class="ms-2 fa-solid fa-paper-plane"></i>
      <% end %>
      </div>
    <% end %>
    </div>
  </div>

</div>
