<div class="modal fade" id="joinModal" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="joinModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@booking) do |f| %>
          <%= f.input :comment %>
          <%= f.input :attendees %>


      </div>
      <div class="modal-footer">
        <%= link_to 'Close', data: {bs: {dismiss:"modal"}}, class:'btn btn-outline-primary' %>
        <%= f.submit 'Request', class:"btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
