<div class="border rounded mb-3 p-3 shadow custom-list-card" data-controller="show-info" data-action="click->show-info#addShow" style="background-color: #1E293B">
  <div class="mb-1">
    <span class="text-muted me-4 fs-sm"><i class="fa-solid fa-clock me-2"></i><%= format_date_time(workout.start_date_time) %></span>
    <span class="text-muted me-4 fs-sm"><i class="fa-solid fa-map-pin me-2"></i><%= workout.address %> (<%= workout.location.name.downcase %>)</span>
    <span class="text-muted me-4 fs-sm"><i class="fa-solid fa-person-running me-2"></i><%= workout.category.name %> (<%= workout.level.name.downcase %>)</span>
  </div>
  <div>
    <h3 class="fs-5 text-white"><%= workout.title %></h3>
  </div>
  <div class="d-none" data-show-info-target="toggleElement">
    <div class="mb-3"><%= workout.description %></div>
    <%= link_to 'See workout', workout_path(workout), class:"btn btn-primary" %>
    <% if workout.user_id == current_user.id %>
      This is my workout! I should be able to manage it from here
    <% elsif workout.bookings.any? do |booking| %>
      <% if booking.user_id == current_user.id  %>
        <%= link_to 'Cancel booking', booking_path(booking),
          class:"btn btn-outline-danger",
          data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
