<nav class="navbar navbar-expand-lg sb-navbar">
  <div class="container">
        <a class="navbar-brand text-white" href="/"><%= image_tag "sportsbuddy_logo.png", width: 150 %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class:"nav-link #{"bg-primary rounded text-white" if current_page?(root_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Workouts', workouts_path, class:"nav-link #{"bg-primary rounded text-white" if current_page?(workouts_path)}" %>
          </li>
          <li class="nav-item">
            <%= link_to 'About us', about_path, class:"nav-link #{"bg-primary rounded text-white" if current_page?(about_path)}" %>
          </li>
        </ul>

        <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item">
                <a href="#" class="nav-link" id="avatarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <% if current_user.photo.attached? %>
                    <%= cl_image_tag current_user.photo.key, height: 45, width: 45, crop: :fill, class: "rounded-circle border" %>
                  <% else %>
                    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "rounded-circle", alt: "User Avatar", width: "45", height: "45" %>
                  <% end %>
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="avatarDropdown">
                  <%= link_to "Profile", profile_path(current_user.id), class: "dropdown-item" %>
                  <%# Check if user has any bookings or workouts %>
                  <%# if user does not have any bookings or workouts, then he has no chatrooms %>
                    <%# in that case - do not generate the link %>
                  <%# Otherwise, generate a link to any of the workouts chat %>
                  <% chatroom = current_user.workouts.last.chatroom if current_user.workouts.any? %>
                  <% chatroom = current_user.bookings.last.workout.chatroom if current_user.bookings.any? %>
                  <% if chatroom %>
                    <%= link_to "Chat", chatroom_path(chatroom), class: "dropdown-item" %>
                  <% end %>
                  <%= link_to "Create workout", new_workout_path, class: "dropdown-item" %>
                  <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
                  </div>
              </li>
            <% else %>
              <li class="nav-item">.
                <%= link_to "Login", new_user_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
          </div>
          </div>
          </nav>
      </div>



    </div>
</nav>
